/* CSS stillerinizi buraya girin */*{
    
    margin: 0;
    text-decoration: arial;
}

header {
    background-color: rgb(49, 49, 51);
    padding: 2%;
    max-width: 100%;
    border-bottom: 2px solid #242323;
    


}
h1{
    margin: 10px 3px;
}
header a {
    border: 2px solid;
    border-radius: 5px;
    margin: 3px 2px;
    padding:  3px;
    
}
section{
    display: flex;
    flex-flow: row;
    justify-items:center;
    align-items: center;
    display: flex;
    align-content: center ;
    
   
}
div {
    width:;
    padding: 50px;
    justify-items:center;
    align-items: center;
    display: flex;
    align-content: center ;
}
.yazi{
    flex-direction: column;
    flex-wrap: wrap;
    width: 28%;
    padding: 2%;
}
button{
    margin: 10px;
    background-color: gray;
}
#img1 { 
        max-width: 475px;
        max-height: 375px;
        display: flex;

}
.resim{
    display: flex;
    flex-wrap: wrap;
}
.resim img{
    
    flex-direction: row;
    flex-wrap: wrap;
    width: 28%;
    padding: 2%;
}

footer {
    display: flex;
        
   
}
footer div {
    background-color: rgb(49, 49, 51);
        margin: 0;
        padding: ;
        width: 100%;
        height: 40px;
        border-bottom: 2px solid black;
        flex-direction: column;
    
    
}

  @media (max-width: 500px) {
    header {
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }
    
    nav a {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
   
    section{
      
      flex-wrap: wrap; 
    }
    #img1 { 
       width: 100%;
       height: 100%;

}
.yazi{ 
    width: 100%;
    flex-direction: column;
}
.resim img {
    width: 40%;
       
}
    
  }
  